*{
    box-sizing: border-box;


}

    .container-grid{
    display:flex; 
    justify-content: space-between;
    width: 1200px;
    height: 100%;
    margin: auto;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;

}


header {
    background-color: black;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.menu{
    width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: black;

}

.banner {
    height: 378px;
    background-color:rgba(16, 6, 131, 1);
    background-image: url("../../../assets/banner.png");
    background-repeat:no-repeat;
    background-attachment:scroll;
}

#carrossel img{
    display: none;
    background-color: rgba(16, 6, 131, 1);
    
}

.banner-ativo{
    display: flex;
    background-color:rgba(16, 6, 131, 1) ;
}


.texto-banner{
    color: white;
}
.posicao-texto{
    justify-content:flex-end;
    font-size: 17px;
    margin-bottom: 10%;
    line-height: 2;
    
    
}
.filtro-produtos{
    background-color: black;
}

.filtro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtro img{
    width: 180px;

}
.produtos{
    background-color:rgba(16, 6, 131, 1) ;
    justify-content: space-between;
    
}
.col-12{
    text-align: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 20px;
    color: white;

}
.col-13{
    text-align: center;
    justify-content: space-between;
    font-size: 17px;
    color: white;

}
.card-body{
    background-color: black;
    justify-content: space-between;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
}

.row{
    justify-content: space-between;
    align-items: center;
    


}
.row1{
    justify-content: space-between;
    align-items: center;
    


}


.secao-sobre{
    background-image: url("../../../assets/fundo.webp") ;
    background-position: center;
    background-repeat: none;
    background-size:cover;
    background-attachment: scroll;
}
.texto-sobre{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.barras{
    width: 30px;
    display: none;
}
.apresentacao{
    justify-content: center;
    
}
footer{
    text-align: left;
    background-color: rgba(16, 6, 131, 1) ;
    align-items: flex-start;
}

.rodape{
    padding: 16px ;
    text-align: left;
    justify-content: space-between;
    
    
}

.links{
    color: white;
    justify-content: space-between;
   
    

}
.links h2{
    font-size: 22px;

}
.links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    justify-content: space-between;
}
.link-email{
    text-align: flex-end;
}

.links-footer{
    display: flex;
    justify-content: space-between;
    height: 120px;
}

input[type="email"]::placeholder {
    color: black;
    background-color: white;
}


.botao-cadastrar {
    height: 156;
    background-color: white;
    color: black;
    justify-content: space-between;
    margin-top: 0.8em;

}


@media screen and (max-width: 1200px){
    .container-grid{
         width: 90%;
    }
    .menu a {
         font-size: 16px;
    }
    .logo{
         width: 200px;
    }
}
@media screen and (max-width: 768px){
    h1{
         color:blue
    }
    .barras{
         display: inline-block;
    }
    .menu{
         display: none;
         flex-direction: column;
         width: 200px;
         height:250px;
         position: absolute;
         top:0;
         right: 60;
         background-color: black;

    }
    .menu a{
         text-align: center;
         padding: 15px;
         margin: 0;
    }
    .menu-ativo{
         display: flex;
    }
    .posicionamento-header{ 
         position: relative;
    }
}
