/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: fixed;


}

header {
    background-color: black;
    height: 60px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.menu{
    width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: black;

}
.banner {
    height: 378px;
    background-color:rgba(16, 6, 131, 1);
    background-image:url("assets/banner.png");
    background-repeat:no-repeat;
    background-attachment:scroll;
}
.produtos{
    align-items: center;
    justify-content: space-between;
}